*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    margin-top: 30px;
}
body{
    font-family: 'Sigmar One', cursive;
    font-size: x-large;
}
section{
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
section video{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header{
    position: absolute;
    top: 0;
    left: 20%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services h3{
    padding-top: 60px;
    padding-bottom: 50px;
}
.row{
    margin-bottom: 40px;
}
.service-text{
    align-items: center;
}
h4{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px,0;
}
.row img{
    width: 500px;
}
.btn{
    margin-left: 50px;
    margin-bottom: 20px;
}
.overlay{
    position: absolute;
    top: 50px;
    left: 20px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.overlay-2{
    position: absolute;
    top: 120px;
    left: 20px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
h1::before{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background:white;
    position: absolute;
    right: 840px;
    top: 50%;
}
h1::after{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background:white;
    position: absolute;
    right: 370px;
    top: 50%;
}
.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 20px;
}

.slide-row{
    display: flex;
    width: 3200px;
}
.slide-col{
    width:800px;
    height: 400px;
    position: relative;
}
.review-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.review-img img{
    height: 100%;
    border-radius:10px;
    
}
.user-text{
    background: #2d3a59;
    width:520px;
    height:300px;
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #d3d4d6;
    padding-left: 45px;
    box-sizing: border-box;
    font-size: 16px;
    z-index: 2;
}
.user-text p{
    font-size: 16px;
    line-height: 24px;
}
.my-container{
    width: 10px;
    height: 10px;
    top: 50%;
    left: 30%;
    position:relative;
    transform:translate(-50%,-50%);
}
.indicator{
    position:relative;
    left: 50%;
    bottom: -50px;

}
.btn{
    display:inline-flex;
    height: 5px;
    width: 2px;
    margin: 2px;
    border-radius: 20%;
    background: #2d3a59;
    cursor: pointer;
    margin-top: 400px;
}
.active{
   width:45px;
}
